<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedromoreirareisgmail.rmvendas">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.RegisterProductActivity"
            android:parentActivityName=".activitys.ListProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListProductActivity" />
        </activity>
        <activity
            android:name=".activitys.ListProductActivity"
            android:label="@string/title_product_list"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.SellActivity"
            android:parentActivityName=".activitys.ListProductSaleActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListProductSaleActivity" />
        </activity>
        <activity
            android:name=".activitys.ListRemoveMoneyActivity"
            android:label="@string/title_remove_money_list"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.ListAddMoneytActivity"
            android:label="@string/title_add_money_list"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.ListOpeningActivity"
            android:label="@string/title_opening_list"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.RegisterAddMoneyActivity"
            android:parentActivityName=".activitys.ListAddMoneytActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListAddMoneytActivity" />
        </activity>
        <activity
            android:name=".activitys.RegisterRemoveMoneyActivity"
            android:parentActivityName=".activitys.ListRemoveMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.RegisterOpeningActivity"
            android:parentActivityName=".activitys.ListOpeningActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.ListProductSaleActivity"
            android:label="@string/title_product_list_sell"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.ClosedActivity"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.RegisterClientActivity"
            android:parentActivityName=".activitys.ListClientActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListClientActivity" />
        </activity>
        <activity
            android:name=".activitys.ListClientActivity"
            android:label="@string/title_client_list"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.RegisterReceiveActivity"
            android:parentActivityName=".activitys.ListClientActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListClientActivity" />
        </activity>
        <activity
            android:name=".activitys.ListClientSaleActivity"
            android:label="@string/title_client_list_sell"
            android:parentActivityName=".activitys.SellActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.SellActivity" />
        </activity>
        <activity
            android:name=".activitys.MoneyBackActivity"
            android:label="@string/title_changed_money"
            android:parentActivityName=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>

        <activity
            android:name=".activitys.ListReceiveClientActivity"
            android:parentActivityName=".activitys.ListClientActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.ListClientActivity" />
        </activity>

        <provider
            android:name=".db.Provider"
            android:authorities="com.pedromoreirareisgmail.rmvendas"
            android:exported="true" />


    </application>

</manifest>